@import 'helpers/mixins';

.special {
  @include flexbox-align-direction(center, center, column);

  margin-top: 3rem;

  &__title {
    color: blue;
  }

  &__info {
    @include flexbox-align-direction(center, center, column);
  }

  &__chart {
    margin-top: 2rem;
  }

  &__edit {
    @include flexbox-align-direction(center, center, column);

    margin-top: 2rem;

    mat-form-field:first-child {
      margin-right: 1rem; 
    }
  }

  &__actions {
    @include flexbox-align-direction(center, space-around);

    width: 100%;
    margin-top: 2rem;
  }
}